<!doctype html> 
<html lang="en"> 
<head> 
 <!-- Required meta tags http://xandeadx.ru/blog/javascript/473-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/1.5.0/vue-resource.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<title>Test</title> 
</head> 
<body>
<div id="app">
<header>
<form @submit.prevent="registUser" v-if="!chek">
	<div class="conteiner ">
		<div class="row ">
			<div class="coll-9-sm ml-auto mt-3">
				<div class="formGroup">
					<label for="email">Your email:</label>
					<input type="email" class="formControl" id="email" placeholder="Enter your email" title="Enter your email" required>
				</div>	
				<div class="formGroup">
					<label for="password">Your password:</label>
					<input type="password" class="formControl" id="password" placeholder="Enter your password" title="Enter your password" required>
				</div>
				<div class="alert alert-danger" role="alert" v-if="err">
					<strong>Oh snap!</strong>.
				</div>
			</div>
			<div class="coll-3-sm mb-auto">
				<button type="submit" class="btn btn-primary">Log in</button>
			</div>
		</div>
	</div>
</form>
<form @submit.prevent="Out" v-else>
	<div class="conteiner ">
		<div class="row">
			<div class="col">
				<h3>Welcome, {{ currentUser }}!</h3>
				<a href="edit.html">Create Ad</a>
				<button type="submit" class="btn btn-primary mb-5">Logout</button>
			</div>
		</div>
	</div>
</form>
</header>
<div id="page">

</div>
<div id="conteiner">
	<div class="row">
		<div class="col" id="pages">
			<p class="paginator"></p>
		</div>
	</div>
</div>

</div>
<script type="text/javascript" src="js/App_1.js" async></script>
<script type="text/javascript" src="js/pagination.js" async></script>
</body> 
</html>